@font-face {
    font-family: CormorantGaramond;
    src: url('../../asset/CormorantGaramond/CormorantGaramond-Medium.ttf');
    src: url('../../asset/CormorantGaramond/CormorantGaramond-BoldItalic.ttf');
    /* font-weight: 400;
    font-style: normal; */
}

.main {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 2.5rem;
    width: 60vw;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
    padding: 1rem;
    position: relative;
}

.starImage {
    width: 4rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    position: relative;
    bottom: 3.2rem;
}

.starImage img {}

.versaoNome {
    text-align: center;
}

.versaoNome p {
    font-family: CormorantGaramond;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
}

.selectedCapitulo {
    text-align: left;
}

.selectedCapitulo p {
    font-family: CormorantGaramond;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}

.contentSelected {
    text-align: left
}

.contentSelected span {
    background-color: black;
    color: white;
    padding: 0.2rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contentSelected p {
    font-family: CormorantGaramond;
    font-size: 1.4rem;
    font-weight: 200;
    color: #000000;
}

.notas {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 98%;

}

.notas textarea {
    display: inline-block;
    background-color: rgb(219, 219, 219);
    width: 90%;
    max-height: 100%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s;
    font-size: 1.4rem;
}

.notas textarea:hover {
    transform: scale(1.1);
}