@font-face {
    font-family: CormorantGaramond;
    /* src: url('../asset/CormorantGaramond/CormorantGaramond-Medium.ttf'); */
    src: url('../asset/CormorantGaramond/CormorantGaramond-Light.ttf');
    /* font-weight: 400;
    font-style: normal; */
}

.main {
    background-image: url("../../public/images/backgroundReading/background.jpg");
    width: 98vw;
    min-height: 85vh;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 30px;
    animation-duration: 2s;
    animation-name: slidein;
}

.main a {
    text-decoration: none;
}

@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 95vw;
    padding: 1rem;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.246);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    cursor: pointer;
    transition: all 0.5s;
}

.container:hover {
    /* transform: scale(1.1); */
    background: rgba(255, 255, 255);
}

.info p {
    font-family: CormorantGaramond;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
    text-decoration: underline;

}

.content p {
    font-family: CormorantGaramond;
    font-size: 1.4rem;
    font-weight: bold;
    color: #000000;
}