@font-face {
    font-family: CardoGaramond;
    /* src: url('../asset/CormorantGaramond/CormorantGaramond-Medium.ttf');
    src: url('../asset/CormorantGaramond/CormorantGaramond-BoldItalic.ttf'); */
    src: url('../asset//CardoGaramond//Cardo/Cardo-Regular.ttf');
    /* font-weight: 400;
    font-style: normal; */
}

.errorHinoArticle {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    text-align: center;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


.divImage {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    height: 25vh;
    width: 25vw;
    position: relative;
}

.divImage img {
    position: relative;
    height: 100%;
    width: 100%;
}

.message {
    margin-top: 3rem;
}

.message p {
    font-family: "CardoGaramond";
    font-size: 2.2rem;
}

.message span {
    font-family: "CardoGaramond";
    font-size: 2.2rem;
    color: rgb(245, 59, 59);
    font-weight: bold;
}