@font-face {
    font-family: CormorantGaramond;
    src: url('../asset/CormorantGaramond/CormorantGaramond-Medium.ttf');
    src: url('../asset/CormorantGaramond/CormorantGaramond-BoldItalic.ttf');
    /* font-weight: 400;
    font-style: normal; */
}

.backgroundeffectmodal {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    /* glassEffect */
    backdrop-filter: blur(5px);
    z-index: 100;
    align-content: center;
    justify-content: center;
    align-items: center;
}


.modalcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    border-radius: 20px;
    padding: 1rem;
    /* box-shadow: 6px 4px 4px rgb(165, 165, 165); */

    /* glassEffect */
    background: rgba(255, 255, 255, 0.486);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
}

.modalTitulo {
    font-family: CormorantGaramond;
    font-size: 2rem;
    text-align: center;
    color: #000000;
}

.modalmain {}

.modalopcoes {}



.selectlabel {
    font-family: CormorantGaramond;
    font-size: 2rem;
    font-weight: bold;
    color: #080808;
}

.modalopcoes div {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.modalopcoes select {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}

.modalopcoes::before {
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.modalopcoes:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.modalopcoes select option {
    padding: 30px;
}




.modalopcoesversao {}

.modalopcoestestamento {}

.modalopcoeslivro {}

.modalopcoescapitulo {}

.buttons {
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.buttons button {
    align-items: center;
    background-color: initial;
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 3rem;
    width: 8rem;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transition: all 150ms;
    touch-action: manipulation;
}

.buttonsok {
    background-image: linear-gradient(#554646, #25292e);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
}

.buttonsfechar {
    background-image: linear-gradient(#e04646, #f50505);
    box-shadow: 0 10px 20px rgba(245, 60, 60, 0.1), 0 3px 6px rgba(250, 23, 23, 0.05);
}

.buttonsok:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.buttonsok:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.buttonsfechar:hover {
    box-shadow: rgba(255, 83, 83, 0.2) 0 2px 8px;
    opacity: .85;
}

.buttonsfechar:focus {
    box-shadow: rgba(255, 0, 0, 0.5) 0 0 0 3px;
}

@media (max-width: 850px) {

    .backgroundeffectmodal {
        align-items: baseline;
        margin-top: 0.5rem;
    }

    .modalcontainer {
        /* margin-top: 5rem; */
        padding: 1rem;
        height: 85vh;
        overflow: scroll;
    }

    .modalTitulo {
        font-size: 1rem;
    }

    .modalopcoes div {
        flex-direction: column;
    }

    .buttons {
        padding: 0;
        padding-top: 1rem;
        padding-bottom: 0.5rem;

    }
}