@font-face {
    font-family: CardoGaramond;
    /* src: url('../asset/CormorantGaramond/CormorantGaramond-Medium.ttf');
    src: url('../asset/CormorantGaramond/CormorantGaramond-BoldItalic.ttf'); */
    src: url('../asset//CardoGaramond//Cardo/Cardo-Regular.ttf');
    /* font-weight: 400;
    font-style: normal; */
}

.main {
    background-image: url("../../public/images/backgroundReading/background.jpg");
    width: 98vw;
    min-height: 85vh;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 30px;
    animation-duration: 2s;
    animation-name: slidein;

}

@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;

}

.buscarPorSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buscarPorSelect p {
    font-family: "CardoGaramond";
    font-size: 1.8rem;
}

.buscarPorSelect div {
    padding: 0.3rem;
}

.buscarPorSelect select {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    width: 250px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}

.buscarPorSelect::before {
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 28px;
    line-height: 45px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.buscarPorSelect:hover::before {
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.2);
}

.buscarPorSelect button:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.buscarPorSelect select option {
    padding: 30px;
}

.buscarPorSelect button {
    align-items: center;
    background-color: initial;
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 3rem;
    width: 8rem;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transition: all 150ms;
    touch-action: manipulation;
    background-image: linear-gradient(#554646, #25292e);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
}


.buscarPorPalavra {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.buscarPorPalavra div {
    padding: 0.3rem;
}

.buscarPorPalavra p {
    font-family: "CardoGaramond";
    font-size: 1.8rem;
}

.buscarPorPalavra input {
    height: 5.5vh;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}