.nomeversao h3 {
    /* font-family: CormorantGaramond; */
    font-family: 'CardoGaramond', serif;
    font-size: 2rem;
    text-align: center;
    color: #000000;
}

.livrocapitulo {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.livrocapitulo h1 {
    font-family: CardoGaramond;
    font-size: 2rem;
    padding: 1rem;
    font-weight: 600;
    color: #424242;
}

.divimagemia {
    width: 7rem;
    display: flex;
    position: relative;
    cursor: pointer;
    margin-right: 1rem;
}

.imageMoreInformation {
    /* position: relative; */
}

.containermenuinformation {
    position: absolute;
    background-color: rgba(235, 235, 235, 0.9);
    border-radius: 30px;
    top: 7rem;
    padding: 1rem;
    right: 0rem;
    width: 25rem;
    height: auto;
    animation-duration: 0.7s;
    animation-name: slidein;
    z-index: 200;

}

@keyframes slidein {
    from {
        margin-top: -100%;
        /* width: 5% */
    }

    to {
        margin-top: 0%;
        /* width: 10%; */
    }
}

.menuinformationimage {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;


}

.menuinformationimage img {
    text-align: center;
    width: 5rem;
    transition: all 0.5s;
}

.menuinformationimage img:hover {
    transform: scale(1.1)
}

.menuinformation p {
    list-style: none;
    font-family: CardoGaramond;
    font-size: 1.4rem;
    padding: 1rem;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 93vw;
}

.content p {
    font-family: CardoGaramond;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: italic;
    padding: 0.3rem;
    cursor: pointer;
    transition: all 0.5s;

}

.content p:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 30px;
}

.content span {
    display: inline-block;
    background-color: rgb(61, 61, 61);
    border-radius: 30px;
    color: white;
    padding-right: 0.4rem;
    padding-left: 0.2rem;
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    .containermenuinformation {
        max-width: 90vw;
    }

    .menuinformationimage {}

    .menuinformationimage img {
        min-width: 5rem;
    }
}