@font-face {
    font-family: CormorantGaramond;
    src: url('../../asset/CormorantGaramond/CormorantGaramond-Medium.ttf');
    src: url('../../asset/CormorantGaramond/CormorantGaramond-BoldItalic.ttf');
    /* font-weight: 400;
    font-style: normal; */
}

.article {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0rem;
    justify-content: center;
    /* glassEffect */
    background: rgba(255, 255, 255, 0.446);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    z-index: 100;
}

.container {
    max-height: 77vh;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    overflow-x: hidden;
    align-self: center;
    padding: 1rem;
}

.article section::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    /* A altura só é vista quando a rolagem é horizontal */
}

.article section::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;

}

.article ::-webkit-scrollbar-thumb {
    background-color: #070707;
    border-radius: 30px;
    cursor: pointer;
}

.buttonClose {
    width: 80vw;
    height: 5vh;
    cursor: pointer;
}

.main {}

.nomeVersao {
    margin-top: 2.5rem;
}

.nomeVersao h1 {
    font-family: 'CardoGaramond', serif;
    font-size: 2rem;
    text-align: center;
    color: #000000;
}

.livroCapitulo {
    margin-top: 2.5rem;
}

.livroCapitulo h3 {
    list-style: none;
    font-family: CardoGaramond;
    font-size: 1.6rem;
    /* padding: 1rem; */
    font-weight: bold;
}

.content {
    margin-top: 1rem;
}

.content p {
    font-family: CardoGaramond;
    font-size: 1.3rem;
    /* font-weight: 600; */
    font-style: italic;
    padding: 0.3rem;
}

.selectCapitulos {
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.selectCapitulos select {
    background-color: #242424;
    color: rgb(255, 255, 255);
    padding: 1rem;
    /* width: 2rem; */
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(36, 36, 36, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}

.selectCapitulos select option {
    padding: 30px;
}


.inputNotes {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 98%;

}

.inputNotes textarea {
    display: inline-block;
    background-color: rgb(219, 219, 219);
    width: 90%;
    max-height: 100%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 1.4rem;
}

.inputNotes textarea:hover {
    transform: scale(1.1);
}

.selectColorContainer {
    /* background-color: red; */
    margin-top: 2rem;
}

.selectColorContainer p {
    font-family: 'CardoGaramond', serif;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
}

.selectColor {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.selectColor div {
    padding: 3rem;
    border-radius: 30px;
    border-color: black;
    border: 1px;
    border-style: solid;
    cursor: pointer;
}

.buttons {
    margin-top: 3rem;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.buttons button {
    align-items: center;
    background-color: initial;
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 3rem;
    width: 8rem;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transition: all 150ms;
    touch-action: manipulation;
}

.buttonsok {
    background-image: linear-gradient(#554646, #25292e);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    display: flex;
}

.buttonsok img {
    height: 100%;

}

.buttonsfechar {
    background-image: linear-gradient(#e04646, #f50505);
    box-shadow: 0 10px 20px rgba(245, 60, 60, 0.1), 0 3px 6px rgba(250, 23, 23, 0.05);
}

.buttonsok:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.buttonsok:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}

.buttonsfechar:hover {
    box-shadow: rgba(255, 83, 83, 0.2) 0 2px 8px;
    opacity: .85;
}

.buttonsfechar:focus {
    box-shadow: rgba(255, 0, 0, 0.5) 0 0 0 3px;
}



@media (max-width: 850px) {

    .article {
        margin: 0 auto
    }

    .container {
        max-height: 85vh;
        max-width: 98vw;

    }
}