@font-face {
    font-family: CardoGaramond;
    /* src: url('../asset/CormorantGaramond/CormorantGaramond-Medium.ttf');
    src: url('../asset/CormorantGaramond/CormorantGaramond-BoldItalic.ttf'); */
    src: url('../../asset//CardoGaramond//Cardo/Cardo-Regular.ttf');
    /* font-weight: 400;
    font-style: normal; */
}

.main {
    background-image: url("../../../public/images/backgroundReading/background.jpg");
    width: 98vw;
    min-height: 85vh;
    margin: 0 auto;
    margin-top: 1rem;
    border-radius: 30px;
    animation-duration: 2s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.articlenavegacao {
    margin: 0 auto;
    width: 40vw;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 30px;
    background: rgba(180, 180, 180, 0.486);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(1.7px);

}

.articlenavegacao select {
    background-color: #242424;
    color: rgb(255, 255, 255);
    padding: 1.4rem;
    /* width: 2rem; */
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(36, 36, 36, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    border-radius: 15px;
    cursor: pointer;
}

.articlenavegacao select option {
    padding: 30px;
}

.articlenavegacaoarrow {
    display: flex;
    justify-content: center;
    width: 30vw;
    transition: all 0.5s;
    cursor: pointer;
    align-items: center;
}


.articlenavegacaoarrow p {
    font-size: 2rem;
    padding: 0;
}


.articlenavegacaoarrow:hover {
    transform: scale(1.1);

}

.articlenavegacaoseelct {}

@media (max-width: 850px) {
    .articlenavegacao {
        width: 95vw;
    }
}