@font-face {
    font-family: CormorantGaramond;
    src: url('../../asset/CormorantGaramond/CormorantGaramond-Medium.ttf');
    src: url('../../asset/CormorantGaramond/CormorantGaramond-BoldItalic.ttf');
    /* font-weight: 400;
    font-style: normal; */
}

.article {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0rem;
    justify-content: center;
    /* glassEffect */
    background: rgba(255, 255, 255, 0.446);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    z-index: 100;
}

.container {
    max-height: 77vh;
    max-width: 60vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    overflow-x: hidden;
    align-self: center;
    padding: 1rem;
}

.container::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    /* A altura só é vista quando a rolagem é horizontal */
}

.container::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;

}

.container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 30px;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 90%;
    align-self: center;
}

.versaoNome p {
    font-family: CormorantGaramond;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000000;
}

.selectedCapitulo p {
    font-family: CormorantGaramond;
    font-size: 2rem;
    font-weight: bold;
    color: #000000;
}

.contentSelected span {
    background-color: black;
    color: white;
    padding: 0.2rem;
    border-radius: 10px;
    margin-right: 0.5rem;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contentSelected p {
    font-family: CormorantGaramond;
    font-size: 1.4rem;
    font-weight: 200;
    color: #000000;
}

.notas {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 98%;

}

.notas textarea {
    display: inline-block;
    background-color: rgb(219, 219, 219);
    width: 90%;
    max-height: 100%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition: all 0.5s;
    font-size: 1.4rem;
}

.notas textarea:hover {
    transform: scale(1.1);
}

.selectColorContainer {
    /* background-color: red; */
    margin-top: 2rem;
}

.selectColorContainer p {
    font-family: 'CardoGaramond', serif;
    font-size: 1.5rem;
    text-align: center;
    color: #000000;
}

.selectColor {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.selectColor div {
    padding: 3rem;
    border-radius: 30px;
    border-color: black;
    border: 1px;
    border-style: solid;
    cursor: pointer;
}

.buttons {
    margin-top: 3rem;
    padding: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.buttons button {
    align-items: center;
    background-color: initial;
    border-radius: 8px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    height: 3rem;
    width: 8rem;
    justify-content: center;
    line-height: 1;
    outline: none;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transition: all 150ms;
    touch-action: manipulation;
}

.buttonsSave {
    background-image: linear-gradient(#7c6bf9, #0300c2);
    /* box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1), 0 3px 6px rgba(255, 255, 255, 0.05); */
    display: flex;
}

.buttonsSave img {
    height: 100%;

}


.buttonsSave:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.buttonsSave:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}


.buttonsfechar {
    background-image: linear-gradient(#1bbd61, #008e45);
    box-shadow: 0 10px 20px rgba(245, 60, 60, 0.1), 0 3px 6px rgba(250, 23, 23, 0.05);
}

.buttonsfechar:hover {
    box-shadow: rgba(255, 83, 83, 0.2) 0 2px 8px;
    opacity: .85;
}

.buttonsfechar:focus {
    box-shadow: rgba(255, 0, 0, 0.5) 0 0 0 3px;
}

.buttonsDelete {
    background-image: linear-gradient(#ea0101, #980404);
    /* box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1), 0 3px 6px rgba(255, 255, 255, 0.05); */
    display: flex;
}

.buttonsDelete img {
    height: 100%;

}

.buttonsDelete:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}

.buttonsDelete:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}



@media screen and (max-width: 850px) {

    .container {
        min-width: 98vw;
    }

    .content {
        width: 100%;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        align-items: center;

    }
}